#record-sales {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #555555 0%, #666666 100%),
            #555555,
            #bbbbbb,
            radial-gradient(center 50% 50%, radius 100%, #bbbbbb, #888888);

    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-family: Rostov;

    -fx-text-fill: white;
}
#record-sales:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #666666 0%, #777777 100%),
            #666666,
            #CCCCCC,
            radial-gradient(center 50% 50%, radius 100%, #CCCCCC, #999999);
    -fx-font-size: 24px;
}
#record-sales:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
